<div>
    {t('STRING.KEY_FROM_PIPE_VIEW.EXIST_IN_ALL_LOCALES')}
    {t("STRING.KEY_FROM_PIPE_VIEW.EXIST_IN_ONE_LOCALE")}
    {t('STRING.KEY_FROM_PIPE_VIEW.ABSENT_IN_ALL_LOCALES')}
    {t('STRING.KEY_FROM_PIPE_VIEW.MISPRINT_IN_ONE_LOCALES')}
    {t('OBJECT.KEY_FROM_PIPE_VIEW.EXIST_IN_ALL_LOCALES')}
    {t('EMPTY.KEY')}
</div>
<div>{t('BUG92')} <span>keyboard_arrow_down</span></div>
<div>
    <h1>{t('carousel.details.title-new')}</h1>
    <h1>{t('creatorState.NEW')}</h1>
    <button title={t('general.buttons.back')}>keyboard_arrow_left</button>
    <button title={t('general.buttons.back.PART-2')}>keyboard_arrow_left</button>
</div>
